* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    color: $primary_color;
}

/* Typo */
a{
    text-decoration: none;
    color: $primary_color;
}

h1, h2, p{
    line-height: $line_height;
}

/* Buttons */
@mixin button {
    padding: 10px;
    padding-left: 30px;
    border-radius: 6px;
    position: relative;
    
    img{
        position: absolute;
        width: 20px;
        left: 5px;
    }
}

.btn{
    @include button;
    border: 1px solid $blue;
    color: $btn_color;
}

.btn-blue{
    @include button;
    background-color: $btn_color;
    border: 1px solid $primary_color;
    color: white;
}