.container {
    max-width: 1170px;
    margin: 0 auto;
}
  
.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

/* columns large screen */
@for $i from 1 through 12{
  .col-lg-#{$i} {
    width: calc((100%/12) * #{$i});
  }
}

/* columns offset for large screen */
@for $i from 1 through 11{
  .col-offset-lg-#{$i} {
    margin-left: calc((100%/12) * #{$i});
  }
}

/* Reset md offsets*/
@for $i from 1 through 11 {
  .col-offset-md-#{$i} { 
    margin-left: 0;
  }
}

/* Reset sm offsets*/
@for $i from 1 through 11 {
  .col-offset-sm-#{$i} { 
    margin-left: 0;
  }
}

/* Media Query md */
@media all and (min-width: 551px) and (max-width: 998px) {

  /* columns md screen */
  @for $i from 1 through 12{
    .col-md-#{$i} {
      width: calc((100%/12) * #{$i});
    }
  }

  /* columns offset for md screen */
  @for $i from 1 through 11{
    .col-offset-md-#{$i} {
      margin-left: calc((100%/12) * #{$i});
    }
  }

  /* Reset lg offsets*/
  @for $i from 1 through 11 {
    .col-offset-lg-#{$i} { 
      margin-left: 0;
    }
  }

  /* Reset sm offsets*/
  @for $i from 1 through 11 {
    .col-offset-sm-#{$i} { 
      margin-left: 0;
    }
  }

}

/* Small screen media */

@media all and (max-width: 550px) {

  /* columns sm screen */
  @for $i from 1 through 12{
    .col-sm-#{$i} {
      width: calc((100%/12) * #{$i});
    }
  }

  /* columns offset for sm screen */
  @for $i from 1 through 11{
    .col-offset-sm-#{$i} {
      margin-left: calc((100%/12) * #{$i});
    }
  }
  
  /* Reset lg offsets*/
  @for $i from 1 through 11 {
    .col-offset-lg-#{$i} { 
      margin-left: 0;
    }
  }

  /* Reset md offsets*/
  @for $i from 1 through 11 {
    .col-offset-md-#{$i} { 
      margin-left: 0;
    }
  }

}
