.header-text{
    h1{
        margin: 14px 0;
    }
    .buttons-wrapper{
        margin-top: 80px;
        margin-bottom: 24px;

        span{
            margin: 0 8px;
        }
    }
}

.header-image{
    img{
        width: 100%;
    }
}