nav{
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 2px solid $primary_color;

    .navbar-right{
        margin-left: auto;
    
        ul{
            list-style: none;
            li{
                display: inline;
                padding: 5px 10px;
            }
        }
        .hamburger-box{
            display: none;
        }
    }
}

.fixed-top{
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    background: white;
    margin-top: 0;
    z-index: 1;
}


@media screen and (max-width: 998px){
    nav{
        .navbar-right{
            ul{
                display: none;
            }

            .hamburger-box{
                display: block;
            }
        }
    }
}