.problems, .solutions{
    background-color: $bg_color;
    
    h2{
        padding: 1rem 0;
        padding-top: 4rem;
        text-align: center;
    }

    .card{
        padding: 2rem 0;
        text-align: center;

        img {
            height: 140px;
            margin: 20px 0;
        }
    }

    .bunny-img{
        width: 90%;
        margin: 80px 0;
    }
}

.problems{
    .container{
        border-bottom: 2px solid $primary_color;
    }
}

.feedback, .survey, .review, .praise{
    img{
        width: 100%;
    }
    img, h2{
        padding-top: 40px;
    }

    p{
        margin-top: 2rem;
    }
    a{
        color: $btn_color;
    }
}

@media screen and (max-width: 998px){
    .feedback, .survey, .review, .praise{
        h2, p, a{
            text-align: center;
            padding: 0 50px;
        }
        h2{
            margin-top: 2rem;
        }
    }
}